//- https://pugjs.org/api/express.html
doctype html
html
    head
        title= title
        link(rel='shortcut icon', href='/images/favicon.ico')
        script(type='text/javascript' src='/javascripts/jquery/jquery.min.js')
        script(type='text/javascript' src='/javascripts/bootstrap/bootstrap.js')
        script(type='text/javascript' src='/javascripts/gsap/gsap.min.js')
        script(type='text/javascript' src='/javascripts/gsap/DrawSVGPlugin.min.js')
        script(type='text/javascript' src='/javascripts/gsap/MorphSVGPlugin.min.js')
        script(type='text/javascript' src='/javascripts/gsap/MotionPathPlugin.min.js')
        script(type='text/javascript' src='/javascripts/gsap/MotionPathHelper.min.js')
        script(type='text/javascript' src='/javascripts/script.js')
        if og
            meta(property='og:title' content=og.title)
            meta(property='og:type' content=og.type)
            meta(property='og:url' content=og.url)
            meta(property='og:image' content=og.image)
        script(type='text/javascript').
            gsap.registerPlugin(MotionPathPlugin, DrawSVGPlugin, MorphSVGPlugin);

        if query_path
            script(type='text/javascript' src='/javascripts/' + query_path + '/script.js')
        link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        if query_path
            link(rel='stylesheet', href='/stylesheets' + query_path + '/style.css')
    body
        block content
